<form class="row g-3 mb-3">
    <div class="col-md-4">
        <label for="txtName" class="form-label">Tag neve</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="userModel.name" >
    </div>
    <div class="col-md-4">
        <label class="form-label">&nbsp;</label>
        <button class="btn btn-primary d-block" type="button" (click)="search()">Keresés</button>
    </div>
    <div class="col-md-4">
        <label class="form-label">&nbsp;</label>
        <a class="btn btn-success d-block ms-auto" href="/members/new">Új tag</a>
    </div>
</form>
<div *ngIf="visible" class="alert alert-danger alert-dismissible fade show" role="alert">
    A találatok száma meghaladja az 50-t, kérem pontosítson a keresési feltételen.
    <button type="button" class="btn-close" ></button>
</div>

<hr>
<table *ngIf="!visible" class="table table-bordered mt-3" id="table-members">
    <tr class="text-center">
        <th>Olvasójegy száma</th>
        <th>Név</th>
        <th>Tagság kezdete</th>
        <th>Tagság vége</th>
    </tr>
    <tr *ngFor="let user of users">
        <td >{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.from}}</td>
        <td>{{user.to}}</td>
    </tr>
</table>

